* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Trebuchet MS", "Arial", sans-serif;
}

/* Remove link underlining for all links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#banner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  color: #032131;
  background-color: white;
}

#banner_title {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Condensed", sans-serif;
  font-variant: small-caps;
  font-size: 18px;
  padding: 0.5em 0 0 0;
  text-align: center;
  color: #0C3D82;
}

#banner_menu {
  width: 100%;
  align-items: center;
  justify-content: center;
  display:flex;
  flex-wrap: flex;
}

.menu_item {
  width: 33.333%;
  text-align: center;
}

#banner_menu a, #banner_menu a:link, #banner_menu a:visited {
  display: inline-block;
  padding: 20px;
  font-family: "Encode Sans Semi Condensed", "Trebuchet MS", sans-serif;
  font-size: 14px;
  color: #0C3D82;
}

#banner_menu a:hover {
  background-color: #1E4B63;
  background-color: #0C3D82;
  color: #E9F1EE;
}

.main_content {
  margin-top: 5px;
}

section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

h2 {
  width: 100%;
  text-align: center;
  font-family: "Kreon", "Times", serif;
  font-weight: 300;
  color: #0080D1;
  color: #0C3D82;
  background-color: #D0E2FB;
  box-shadow: 0px 1px 8px #444;
  padding: 1em;
}

#profile_image_container {
  height:100%;
  max-width: 550px;
  margin: 10px auto 10px auto;
  padding: 0 50px 0 50px;

}

#profile_image {
  width: 100%;
  border-radius:50%;
}

.anchor {
  display: block;
  position: absolute;
  visibility: hidden;
}

.text_container_holder {
  width: 100%;
}

.text_container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-color: rgb(200, 200, 200);
  background-color: rgba(0,0,0,0.5);
  font-family: "Trebuchet MS", "Arial", sans-serif;
  color: #CCC;
}

p {
  display: block;
  margin: 1em auto;
  padding: 0 1em;
  max-width: 500px;
  text-align: left;
}

.contact_container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5em 0 0 0;
  width: 100%;
  background-color: #0C3D82;
}

.contact_links {
  display: inline-block;
  clear: right;
  float: right;
  margin-bottom: 1em;
  padding: 0.5em 2em 0.5em 1em;
  background-color: rgb(200, 200, 200);
  background-color: rgba(255,255,255,0.1);
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.contact_links > a {
  font-family: "Encode Sans Semi Condensed", "Trebuchet MS", sans-serif;
  color: #FFF;
}

#email_link {
  margin-left: 45px;
}

#social_media_links {
  margin-left: 50px;
}

@media screen and (min-width: 541px) {
  #banner_title {
    margin-left: 0;
    padding-left: 1em;
  }

  #banner_menu {
    width: 60%;
  }

  h2 {
    text-align: left;
  }

  #email_link {
    margin-left: 0;
  }

  .contact_container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 960px) {
  body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 8px #444;
  }
}
